<h1>Simulador Autorizador Débito</h1>

<div class="itau-tabs">
  <button
    class="itau-tab"
    [class.active]="activeView() === 'buscar' || activeView() === 'disparar'"
    (click)="onIrParaBuscar()"
  >
    <mat-icon>search</mat-icon>
    Pesquisar Cenários
  </button>
  <button
    class="itau-tab"
    [class.active]="activeView() === 'incluir'"
    (click)="onIrParaIncluir()"
  >
    <mat-icon>settings</mat-icon>
    Configurar Cenário
  </button>
</div>

<div class="itau-tab-content">
  @if (activeView() === 'buscar') {
    <app-buscar-cenarios
      (selecionou)="onSelecionouCenario($event)"
      (editou)="onEditouCenario($event)"
    />
  }

  @if (activeView() === 'incluir') {
    <app-configurar-cenario
      [cenario]="cenarioParaEditar()"
      (disparar)="onDispararFromConfigurar($event)"
    />
  }

  @if (activeView() === 'disparar') {
    <app-disparar-transacao
      [transacao]="cenarioSelecionado()!"
      (voltou)="onVoltouDoDisparar()"
      (editou)="onEditouCenario($event)"
      (excluiu)="onExcluiuDoDisparar()"
    />
  }
</div>
